body {
    font-family: monospace;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-content {
    flex-grow: 1;
}

footer {
    border-top: 1px darkgrey solid;
    font-size: 12px;
    color: darkgray;
}

.good {
    font-size: 18px;
    font-weight: bold;
    color: forestgreen;
}

.bad {
    font-size: 18px;
    font-weight: bold;
    color: orangered;
}

a[target=_blank]::after {
    content: url(external.png);
    margin: 0 0 0 5px;
}